<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="flex items-center justify-between w-full">
                <a href="index.html" class="logo">
                    <img src="assets/images/fh-logo.png" alt="">
                </a>
                <nav>
                    <div class="nav-item">
                        <a href="index.html">Home</a>
                    </div>
                    <div class="nav-item">
                        <a href="kelas.html">Kelas</a>
                        <div class="dropdown">
                            <a href="kelas-ciri-khas.html">Ciri Khas</a>
                            <a href="kelas-rias-wajah.html">Rias Wajah</a>
                            <a href="kelas-penerapan.html">Penerapan</a>
                            <a href="kelas-evaluasi-akhir.html">Evaluasi Akhir</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>